weights/

output_stats_video/
output/
input_video/*.mp4
det_tracking/

mask_rcnn_UPG_x_playerDetection1/assets/
mask_rcnn_UPG_x_playerDetection1/dist/
mask_rcnn_UPG_x_playerDetection1/mask_rcnn.egg-info/
mask_rcnn_UPG_x_playerDetection1/samples/coco/
mask_rcnn_UPG_x_playerDetection1/samples/demo.ipynb
mask_rcnn_UPG_x_playerDetection1/samples/demo.py

*.pyc
*/pycache/
*/__pycache__/
*.mp4